:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		"liga" 1,
		"calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply h-full scroll-smooth;
	}

	body {
		@apply isolate flex min-h-full flex-col bg-[#FAFFFE] text-black dark:bg-[#1d1d1d] dark:text-white;
	}

	button {
		@apply pointer-events-auto cursor-pointer touch-none select-none outline-2 outline-offset-2 focus-visible:outline disabled:cursor-not-allowed data-[focus-visible]:outline;
	}

	a,
	input,
	textarea,
	select {
		@apply outline-2 outline-offset-2 focus-visible:outline disabled:cursor-not-allowed;
	}

	details summary::-webkit-details-marker {
		@apply hidden;
	}

	* {
		text-wrap: pretty;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}
}

@layer components {
}
