:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		"liga" 1,
		"calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply h-full scroll-smooth;
	}

	body {
		@apply isolate grid min-h-screen grid-cols-1 grid-rows-[auto,1fr] overflow-x-hidden bg-[#FAFFFE] text-black dark:bg-[#1d1d1d] dark:text-white md:grid-cols-[204px,1fr];
	}

	button {
		@apply pointer-events-auto cursor-pointer touch-none select-none outline-2 outline-offset-2 focus-visible:outline disabled:cursor-not-allowed data-[focus-visible]:outline;
	}

	a,
	input,
	textarea,
	select {
		@apply outline-2 outline-offset-2 focus-visible:outline disabled:cursor-not-allowed;
	}

	details summary::-webkit-details-marker {
		@apply hidden;
	}

	* {
		text-wrap: pretty;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}
}

.dialog-backdrop {
	background-color: hsl(204 10% 10% / 0.1);
	opacity: 0;
	transition-property: opacity, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	backdrop-filter: blur(0);
}

:is(.dark .dialog-backdrop) {
	background-color: hsl(204 10% 10% / 0.5);
}

.dialog {
	position: fixed;
	inset: 0.75rem;
	z-index: 50;
	margin: auto;
	height: fit-content;
	max-height: calc(100vh - 2 * 0.75rem);
	overflow: auto;
	border-radius: 0.75rem;
	border-color: 1px solid rgb(0 0 0 / 0.05);
	background-color: #fafffe;
	padding: 1rem;
	color: black;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	transform-origin: center;
	opacity: 0;
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transform: scale(0.95);
}

:is(.dark .dialog) {
	border-color: 1px solid rgb(255 255 255 / 0.05);
	background-color: #1d1d1d;
	color: white;
}

@media (min-width: 640px) {
	.dialog {
		top: 10vh;
		bottom: 10vh;
		margin-top: 0px;
		max-height: 80vh;
		width: 420px;
		border-radius: 1rem;
		padding: 1.5rem;
	}
}

.dialog-backdrop[data-enter] {
	opacity: 1;
	backdrop-filter: blur(4px);
}

.dialog[data-enter] {
	opacity: 1;
	transform: scale(1);
}
